* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  color: white;
}

.homePage {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.homeSection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 100%;
  background-color: rgb(162, 179, 172);
}

.homeSection2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 100%;
  background-color: rgb(177, 192, 196);
}
.homeSection3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 100%;
  background-color: rgb(121, 143, 135);
}

.homeFace {
  border-radius: 50%;
  position: relative;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 20px;
  float: left;
}

.introductory-body {
  margin: auto;
}
